# Working with Databases in Python using `sqlite` and `sqlalchemy`

## SQLite using `sqlite3` CLI

In [1]:
!which sqlite3

/Users/neilbardhan/opt/anaconda3/bin/sqlite3

### List all tables

In [12]:
!sqlite3 data/db/books.db .tables

author  book

`SELECT` Statements

In [13]:
!sqlite3 data/db/books.db 'SELECT * FROM author;'

1|Pearl|Buck
2|Mark|Twain
3|Tom|Clancy
4|Isaac|Asimov

In [14]:
!sqlite3 data/db/books.db 'SELECT * FROM book;'

1|Foundation|4
2|The Good Earth|1
3|The Good Earth|1
4|Adventures of Huckleberry Finn|2
5|Life on the Mississippi|2
6|The Hunt for Red October|3

In [23]:
!cat code/mark_twain.sql

SELECT b.title
FROM author a JOIN book b
ON b.author_id = a.author_id
WHERE a.first_name = 'Mark' AND a.last_name = 'Twain';

In [22]:
!sqlite3 data/db/books.db < code/mark_twain.sql

Adventures of Huckleberry Finn
Life on the Mississippi

In [26]:
QUERY = """
SELECT
a.first_name, a.last_name, b.title AS book_title
FROM author a JOIN book b
ON b.author_id = a.author_id
ORDER BY a.last_name asc;
"""

In [27]:
with open("code/author_names.sql", "w") as code_file:
    code_file.write(QUERY)

In [28]:
!cat code/author_names.sql

SELECT
a.first_name, a.last_name, b.title AS book_title
FROM author a JOIN book b
ON b.author_id = a.author_id
ORDER BY a.last_name asc;

In [29]:
!sqlite3 data/db/books.db < code/author_names.sql

Isaac|Asimov|Foundation
Pearl|Buck|The Good Earth
Pearl|Buck|The Good Earth
Tom|Clancy|The Hunt for Red October
Mark|Twain|Adventures of Huckleberry Finn
Mark|Twain|Life on the Mississippi